policy_module(busybox, 0.0.1)

########################################
#
# Declarations
#

type wpa_cli_var_run_t;
files_pid_file(wpa_cli_var_run_t)

#
# Allow execmem on limited domains due to the structure of
# the busybox.
#
allow init_t self:process execmem;
allow initrc_t self:process execmem;
allow getty_t self:process execmem;
allow local_login_t self:process execmem;
allow mount_t self:process execmem;

# dangerous!
allow user_t self:process execmem;
allow sysadm_t self:process execmem;

########################################
#
# additional wpa_cli local policy
#

# wpa_supplicant control socket
files_search_pids(wpa_cli_t)
manage_dirs_pattern(wpa_cli_t, var_run_t, wpa_cli_var_run_t)
manage_sock_files_pattern(wpa_cli_t, var_run_t, wpa_cli_var_run_t)
files_pid_filetrans(wpa_cli_t, wpa_cli_var_run_t, { sock_file })
allow NetworkManager_t wpa_cli_var_run_t:sock_file write;

# execute the ifplugd script
corecmd_exec_bin(wpa_cli_t)
corecmd_exec_shell(wpa_cli_t)
domain_entry_file(ifplugd_t, ifplugd_etc_t)
domtrans_pattern(wpa_cli_t, ifplugd_etc_t, ifplugd_t)
allow ifplugd_t wpa_cli_t:unix_dgram_socket { read write };
