
module my-vim 1.0;

require {
	type unconfined_t;
	type ncsist_exec_t;
	type ncsist_home_t;
	class file { execute execute_no_trans map open read relabelfrom };
}

#============= unconfined_t ==============

#!!!! The file '/usr/share/selinux/devel/lab_for_ncsist/vim' is mislabeled on your system.  
#!!!! Fix with $ restorecon -R -v /usr/share/selinux/devel/lab_for_ncsist/vim
allow unconfined_t ncsist_exec_t:file { execute_no_trans map };

#!!!! This avc is allowed in the current policy
allow unconfined_t ncsist_exec_t:file { execute open read };
allow unconfined_t ncsist_home_t:file { map relabelfrom };
allow unconfined_t ncsist_exec_t:file { execute execute_no_trans map open read };

#!!!! This avc is allowed in the current policy
allow unconfined_t ncsist_home_t:file { map relabelfrom };
