
policy_module(ncsist,1.0.0)

########################################
#
# Declarations
#

gen_bool(allow_ncsist_create_del,true)
type ncsist_t;
#user ncsist_u roles { ncsist_r };
type ncsist_home_t;
#domain_type(ncsist_t)
#domain_entry_file(ncsist_t, ncsist_home_t)

#type ncsist_log_t;
#logging_log_file(ncsist_log_t)

#type ncsist_tmp_t;
#files_tmp_file(ncsist_tmp_t)

########################################
#
# Myapp local policy
#
#


gen_require(`
		type unconfined_t;
		role unconfined_r;
		type admin_home_t;
		type bin_t;
		type devtty_t;
		type etc_t;
		type fs_t;
		type ld_so_cache_t;
		type ld_so_t;
		type lib_t;
		type locale_t;
		type null_device_t;
		type passwd_file_t;
		type root_t;
		type security_t;
		type sysfs_t;
		type user_devpts_t;
		type user_home_dir_t;
		type user_tmp_t;
		type usr_t;
		type var_run_t;
		type var_t;
		type home_root_t;
		type user_home_t;
		type selinux_config_t;
		type tmp_t;
')




### etc_t
#manage_files_pattern(ncsist_t, etc_t, etc_t)
read_files_pattern(ncsist_t, etc_t, etc_t)

### lib_t
#manage_files_pattern(ncsist_t, lib_t, lib_t)
#read_files_pattern(ncsist_t, lib_t, lib_t)
#manage_lnk_files_pattern(ncsist_t, lib_t, lib_t)
#allow ncsist_t lib_t:file { execute map read open getattr };
read_lnk_files_pattern(ncsist_t, lib_t, lib_t)
mmap_exec_files_pattern(ncsist_t, lib_t, lib_t)

### ld_so_cache_t
#manage_files_pattern(ncsist_t, ld_so_cache_t, ld_so_cache_t)
read_files_pattern(ncsist_t, ld_so_cache_t, ld_so_cache_t)
allow ncsist_t ld_so_cache_t:file { map };

### ld_so_t
#manage_files_pattern(ncsist_t, ld_so_t, ld_so_t)
read_files_pattern(ncsist_t, ld_so_t, ld_so_t)

### sysfs_t
#manage_files_pattern(ncsist_t, sysfs_t, sysfs_t)
read_files_pattern(ncsist_t, sysfs_t, sysfs_t)

### security_t
#manage_files_pattern(ncsist_t, security_t, security_t)
allow ncsist_t security_t:filesystem { getattr };

### locale_t
#manage_files_pattern(ncsist_t, locale_t, locale_t)
allow ncsist_t locale_t:file { map };

### admin_home_t
#manage_files_pattern(ncsist_t, admin_home_t, admin_home_t)
read_files_pattern(ncsist_t, admin_home_t, admin_home_t)

### usr_t
#manage_files_pattern(ncsist_t, usr_t, usr_t)
read_files_pattern(ncsist_t, usr_t, usr_t)
#allow ncsist_t usr_t:lnk_file { read };

### bin_t
#manage_files_pattern(ncsist_t, bin_t, bin_t)
read_files_pattern(ncsist_t, bin_t, bin_t)

### passwd_file_t
manage_files_pattern(ncsist_t, passwd_file_t, passwd_file_t)

### ncsist_home_t
#allow ncsist_t ncsist_home_t:dir { create }; for scenario like vim ./test/test
manage_files_pattern(ncsist_t, ncsist_home_t, ncsist_home_t)

### var_t
#manage_files_pattern(ncsist_t, var_t, var_t)
read_files_pattern(ncsist_t, var_t, var_t)

### user_devpts_t
allow ncsist_t user_devpts_t:chr_file { ioctl getattr read write open };

### fs_t
allow ncsist_home_t fs_t:filesystem associate;

### var_run_t
#allow ncsist_t var_run_t:dir { search };
#allow ncsist_t var_run_t:lnk_file { read };
read_lnk_files_pattern(ncsist_t, var_run_t, var_run_t)

### user_home_dir_t
#allow ncsist_t user_home_dir_t:dir { create search getattr open read write add_name remove_name };
#allow ncsist_t user_home_dir_t:file { create open read write };
manage_dirs_pattern(ncsist_t, user_home_dir_t, user_home_dir_t)
manage_files_pattern(ncsist_t, user_home_dir_t, user_home_dir_t)

### unconfined_t can just rw file if boolean is false
list_dirs_pattern(unconfined_t, ncsist_home_t, ncsist_home_t)
rw_files_pattern(unconfined_t, ncsist_home_t, ncsist_home_t)
rw_lnk_files_pattern(unconfined_t, ncsist_home_t, ncsist_home_t)
#allow unconfined_t ncsist_home_t:dir { rmdir };
allow unconfined_t ncsist_home_t:file { map };

if(allow_ncsist_create_del){
	manage_files_pattern(unconfined_t, ncsist_home_t, ncsist_home_t)
	manage_dirs_pattern(unconfined_t, ncsist_home_t, ncsist_home_t)
}

### type_transition for unconfined_t -> ncsist_t
role unconfined_r types ncsist_t;
type_transition unconfined_t ncsist_home_t:process ncsist_t;
allow unconfined_t ncsist_home_t:file execute;
allow ncsist_t ncsist_home_t:file entrypoint;
allow unconfined_t ncsist_t:process transition;

#work around
allow ncsist_t devtty_t:chr_file { read write };
allow ncsist_t home_root_t:dir { search };
allow ncsist_t ncsist_t:capability { dac_override };
allow ncsist_t ncsist_t:unix_stream_socket { create connect };
allow ncsist_t null_device_t:chr_file { read write open };
allow ncsist_t root_t:dir { search };
allow ncsist_t selinux_config_t:dir { search };
allow ncsist_t tmp_t:dir { getattr };
allow ncsist_t unconfined_t:fd { use };
allow ncsist_t unconfined_t:process { sigchld };
allow ncsist_t user_home_t:file { open read write getattr };
allow ncsist_t user_tmp_t:file { read };
#allow unconfined_t ncsist_t:process { rlimitinh siginh noatsecure };
