
policy_module(ncsist,1.0.0)

########################################
#
# Declarations
#

gen_bool(allow_ncsist_create_del,true)
type ncsist_t;
type ncsist_home_t;

########################################
#
# Myapp local policy
#
#


gen_require(`
		type unconfined_t;
		role unconfined_r;
		type admin_home_t;
		type bin_t;
		type devtty_t;
		type etc_t;
		type fs_t;
		type ld_so_cache_t;
		type ld_so_t;
		type lib_t;
		type locale_t;
		type null_device_t;
		type passwd_file_t;
		type root_t;
		type security_t;
		type sysfs_t;
		type user_devpts_t;
		type user_home_dir_t;
		type user_tmp_t;
		type usr_t;
		type var_run_t;
		type var_t;
		type home_root_t;
		type user_home_t;
		type user_home_content_type;
		type selinux_config_t;
		type tmp_t;
		type setrans_var_run_t;
		type sshd_t;
')




### etc_t
mmap_read_files_pattern(ncsist_t, etc_t, etc_t)


### lib_t
mmap_exec_files_pattern(ncsist_t, lib_t, lib_t)
read_lnk_files_pattern(ncsist_t, lib_t, lib_t)

### ld_so_cache_t
mmap_read_files_pattern(ncsist_t, ld_so_cache_t, ld_so_cache_t)

### ld_so_t
read_files_pattern(ncsist_t, ld_so_t, ld_so_t)


### sysfs_t
### security_t
#for search_dirs_pattern(ncsist_t, sysfs_t, sysfs_t) &
selinux_search_fs(ncsist_t)
#for allow ncsist_t security_t:filesystem { getattr };
selinux_getattr_fs(ncsist_t)

### locale_t
mmap_read_files_pattern(ncsist_t, locale_t, locale_t)
read_lnk_files_pattern(ncsist_t, locale_t, locale_t)

### usr_t
files_read_usr_files(ncsist_t)

### bin_t
read_files_pattern(ncsist_t, bin_t, bin_t)

### passwd_file_t
read_files_pattern(ncsist_t, passwd_file_t, passwd_file_t)

### ncsist_home_t
manage_files_pattern(ncsist_t, ncsist_home_t, ncsist_home_t)

### user_devpts_t
userdom_use_user_ptys(ncsist_t)

### sshd_t for user logining through ssh
allow ncsist_t sshd_t:fd { use }; #pending, no api finded

### fs_t
fs_associate(ncsist_home_t)

### var_t
### var_run_t
files_search_pids(ncsist_t)

### user_home_dir_t
manage_files_pattern(ncsist_t, user_home_dir_t, user_home_dir_t)


### unconfined_t can only list & rw file if boolean is false
list_dirs_pattern(unconfined_t, ncsist_home_t, ncsist_home_t)
rw_files_pattern(unconfined_t, ncsist_home_t, ncsist_home_t)
rw_lnk_files_pattern(unconfined_t, ncsist_home_t, ncsist_home_t)
allow unconfined_t ncsist_home_t:file { map };

if(allow_ncsist_create_del){
	manage_files_pattern(unconfined_t, ncsist_home_t, ncsist_home_t)
	manage_dirs_pattern(unconfined_t, ncsist_home_t, ncsist_home_t)
}

### type_transition for unconfined_t -> ncsist_t
role unconfined_r types ncsist_t;
allow ncsist_t ncsist_home_t:file entrypoint;
domtrans_pattern(unconfined_t, ncsist_home_t, ncsist_t)


#work around
search_dirs_pattern(ncsist_t, home_root_t, home_root_t)
allow ncsist_t self:unix_stream_socket { create_socket_perms };
search_dirs_pattern(ncsist_t, root_t, root_t)
search_dirs_pattern(ncsist_t, selinux_config_t, selinux_config_t)
userdom_delete_user_home_content_files(ncsist_t)
userdom_read_user_home_content_files(ncsist_t)
allow unconfined_t ncsist_t:process { rlimitinh siginh noatsecure };
search_dirs_pattern(ncsist_t, setrans_var_run_t, setrans_var_run_t)
